+++
title = "IT Ninjas Labs"
linkTitle = "IT Ninjas Labs"

+++

{{< blocks/cover title="IT Ninjas" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Docs <i class="fas fa-file ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/labs" >}}">
	Labs <i class="fas fa-flask ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/exams" >}}">
	Exams <i class="fas fa-university ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/challenges" >}}">
	Challenges <i class="fas fa-star ml-2 "></i>
	</a>
	<p class="lead mt-5">Show more!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="dark" %}}
{{% /blocks/lead %}}

{{< blocks/section color="light">}}

{{% blocks/feature icon="fa-file" title="Docs" url="docs" %}}
Read the documentation to learn java and web technologies.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-flask" title="Labs" url="labs" %}}
Start with labs to reinforce theory and gain experience.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-university" title="Exams" url="exams" %}}
Take an exam to test your knowledge and complete a block of training.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-star" title="Challenges" url="challenges" %}}
Participate in volunteer challenges and give your best for the perfect solution.
{{% /blocks/feature %}}

{{< /blocks/section >}}
